@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');

/* start reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px 86px;
}

    /* header start */

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-content{
    padding: 0px 100px;
}

.header{
    background:url(../images/bubbles.svg) no-repeat 92.5% 65%,
                url(../images/girl.svg) no-repeat 100%,
                linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%);
    border-radius: 90px 90px 0px 0px;
}

.bottom-rectangle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:url(../images/rectangle.png) no-repeat 0% 104.5%;
    background-size: contain;
}

.header-logo{
    margin-top: 54px;
}

.header-logo__text{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.header-navbar-items__item{
    display: inline-block;
    margin: 57px 38px 0px;
}

.header-navbar-items__item:first-child{
    margin:0px 38px 0px 0px;
}

.header-navbar-items__item:last-child{
    margin:0px 0px 0px 38px;
}

.header-navbar-items__link{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.header-button a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-button-sign-up{
    margin-right: 25px;
}

.header-button-login{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 128px;
    height: 49px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    
}

    /* header end */

    /* header explore start */

.header-explore{
    max-width: 603px;
    margin-top: 86px;
}

.header-explore__btn-explore{
    width: 227px;
    height: 50px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px; 
    opacity: 0.75;
    outline: none;
    border: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;  
    color: #FFFFFF;
    margin-bottom: 7px;
}

.header-explore-caption{
    width: 100%;
}

.header-explore-caption-wrapper__top-caption{
    margin-bottom: 36px;
}

.header-explore-caption__caption{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #FFFFFF;
}

.header-explore-caption-wrapper__bottom-caption{
    margin-bottom: 68px;
    width: 90%;
}

.header-explore-caption__bottom-caption{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
    opacity: 0.5;
}

.header-explore__btn-explore-now{
    width: 263px;
    height: 91px;
    margin-bottom: 201px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #FEFEFE;
    border: 0px;
}
    /* header explore end */

    /* content start */

.content{
    background: #F6F6F6;
    padding-top: 109px;
}
.content__galerey{
    margin-bottom: 172px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.wrapper-full-right{
    padding: 0px 0px 0px 100px;
}

.galerey-notice{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    color: #0F1F1C;
    width: 456px; 
}

.sub-header__text{
    font-size: 30px;
    line-height: 45px;
}

.galerey-notice__header{
    margin-bottom: 17px;
}

.header__text{
    font-size: 55px;
    line-height: 82px;
}

.description__text{
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    width: 100%;
    opacity: 0.5;
}

.galerey-notice__description{
    margin-bottom: 60px;
}

.galerey-notice__button{
    width: 223px;
    height: 79px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FEFEFE;
}

.galerey-slider{
    overflow: hidden;
}

.galerey-slider-items{
    display: flex;
    align-items: center;
    margin: 0px 49px;
}

.galerey-slider-items::after{

}

.galerey-slider-items::before{
    
}

.galerey-clider__item-image{
    width: 335px;
    height: 402px;
    overflow: hidden;
    border-radius: 35px;
    border: 1px solid black;
}

.galerey-clider__item-image.active{
    width: 380px;
    height: 456px;
    overflow: hidden;
    margin: 0px 30px;
}



    /* content end */

